# file system
.DS_Store

# Project exclude paths
**.log
**/target
**/.classpath
**/.project
**/.factorypath

# IDE
.idea/**
**.iml
.vscode/**

# gradle
.gradle/**
**/build/**

# mvn shade plugin
dependency-reduced-pom.xml

# benchmark result
benchmark/**
